body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

@keyframes blur {
    0% {
        filter: blur(1px);
        -webkit-filter: blur(1px);
    }
    25% {
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }
    50% {
        filter: blur(3px);
        -webkit-filter: blur(3px);
    }
    75% {
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }
    100% {
        filter: none;
    }
}

/* video background */
.bg-video {
    will-change: animation;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}
.bg-video__item{
    animation: blur 5s infinite;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* login wrap */
.login-wrap{
    z-index: 2;
	width:100%;
	margin: 5rem auto auto auto;
	max-width:525px;
    min-height:670px;
    max-height: 671px;
	position:relative;
    background: url(https://pa1.narvii.com/6335/ab367019d05b4d99f9f5ceed6378c321ac94e000_00.gif) no-repeat bottom right;
	opacity: .65;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
    position:absolute;
    border-radius: 2px;
	padding:90px 70px 50px 70px;
	background:#000000c0;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#c49c48;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#c49c48;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:#c49c481a;
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#c49c48;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

/* communication page */

.container{
	z-index: 2;
	width:100%;
	margin: 5rem auto auto auto;
	width: 1000px;
	height:840px;
	border-radius: 7px;
	position:relative;
	opacity: 0.8;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
	display: grid;
	background: url('https://media.giphy.com/media/PhO0CnIMe2Vgh5nVjr/giphy.gif') no-repeat bottom right;
	background-size: 35% 35%;
	grid-template-columns: repeat(3,[start-col] 1fr [end-col]);
	grid-template-rows: repeat(4,[start-row] 1fr [end-row]);
}
.container__box{
		width:100%;
		height:100%;
		position:absolute;
		border-radius: 2px;
		padding:90px 70px 50px 70px;
		background:#000000c0;
}

.container__messages{
	z-index: 1;
	grid-row: start-row 1 / end-row 3;
	grid-column: start-col 1 / end-col 2;
	background-color: transparent;
}
.container__messages-block{
	margin: 2.5% auto 2.5% auto;
	width: 90%;
	height: 90%;
	background-color: #c49c48;
	border-radius: 20px;
	opacity: 1.5;
	list-style-type: none;
	text-decoration: none;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container__mesages-item{
color: white;
}
.container__mesages-item:not(:first-child){
	margin-top: 8%;
}
.container__mesages-item:last-child{
	color: black;
}
.container__mesages-item::before,
.container__users-item::before{
	display: inline-block;
	margin-left: 3px;
	margin-right: 8px;
	width: 30px;
	height: 30px;
	border-radius:50%;
	content: '';
	background-image: url('https://media0.giphy.com/media/fYkYhw2ANU1I4/giphy.gif?cid=ecf05e47965c64f4af958214a3a6989d497a04ab3f065cf3&rid=giphy.gif');
	background-size: 100%;
}
.container__users{
	z-index: 1;
	opacity: 0.65;
	grid-row: start-row 1 / end-row 3;
	grid-column: start-col 3 / -1;
	background-color: transparent;
}

.container__users-block{
	margin: 7%;
	width: 84%;
	height: 84%;
	background-color: #c49c48;
	border-radius: 20px;
	list-style-type: none;
	text-decoration: none;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.container__users-item{
	margin-top: 8%;
	color: white;
}
.container__users-item::before{
	background-image: url('https://media3.giphy.com/media/zaiY6UOCHP8NG/giphy.gif?cid=ecf05e4704749595b2877b45f0a04e1da47527fc078278d4&rid=giphy.gif');
	margin-left: -43px;
}
.container__textarea{
	z-index: 2;
	grid-row: start-row 4 / end-row 4;
	grid-column: start-col 1 / end-col 2;
	background-color: transparent;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#container__textarea{
	opacity: 0.5;
	margin-top: -7%;
	margin-bottom: 3%;
	border-radius: 5px;
}
.container__textarea-btn{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
	text-transform: uppercase;
	font-weight: 800;
	color: #c49c48;
	letter-spacing: 2px;
}