{% extends "base.html" %}

{% block content %}
<div class="communicator__background">
	<img src="/static/poke_fuckingdexLyrics-coolLogo-mixedCammelAdnotationWTF.png" alt="Logo_pokedex" class="communicator__logo">
	<div class="container">
        <div class="container__box"></div>
        <section class="container__messages">
            <ul class="container__messages-block">
				{% for message in usersMessages %}
					<li class="container__mesages-item checkerList">
						{{message.name}}: {{message.user_message}}  <small>{{message.current_time}}</small>
					</li>
				{% endfor %}
			</ul>
        </section>
        <div class="container__users">
			<ul class="container__users-block">
				<p class="data_storage">	{{ usersOnline }}	</p>
			</ul>
        </div>
        <div class="container__textarea">
			<textarea name="textarea" id="container__textarea" cols="40" rows="6" placeholder="Send message..."></textarea>
			<button class="container__textarea-btn">Send!</button>
		</div>
	</div>
</div>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
{% endblock %}