{% extends "base.html" %}

{% block content %}
	<div class="login-wrap">
		<div class="login-html">
			<input id="tab-1" type="radio" name="tab" class="sign-in" checked="true"><label for="tab-1" class="tab">Sign In</label>
			<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
			<div class="login-form">
				<div class="sign-in-htm">
					<form action="{{ url_for('login') }}" method="POST" name="login">
						<div class="group">
							<label for="user" class="label">Username</label>
							<input id="user" type="text" name="username-login" class="input" required minlength="3" maxlength="20">
						</div>
						<div class="group">
							<label for="pass" class="label">Password</label>
							<input id="pass" type="password" name="password-login" class="input" data-type="password" required minlength="6" maxlength="50">
						</div>
						<div class="group">
							<input id="check" type="checkbox" class="check" checked>
							<label for="check"><span class="icon"></span> Keep me Signed in</label>
						</div>
						<div class="group">
							<input type="submit" name="sign_in" class="button" value="Sign In">
						</div>
					</form>
					<div class="hr"></div>
					<div class="foot-lnk">
						<a href="#forgot">Forgot Password?</a>
					</div>
				</div>
				<form action="{{ url_for('register') }}" method="POST" name='register'>
					<div class="sign-up-htm">
						<div class="group">
							<label for="user" class="label">Username</label>
							<input id="user" name="username-register" type="text" class="input" required minlength="3" maxlength="20">
						</div>
						<div class="group">
							<label for="pass" class="label">Password</label>
							<input id="pass" name="password-register" type="password" class="input" data-type="password" required minlength="6" maxlength="50">
						</div>
						<div class="group">
							<label for="pass" class="label">Repeat Password</label>
							<input id="pass" name="password-register-2" type="password" class="input" data-type="password" required minlength="6" maxlength="50">
						</div>
						<div class="group">
							<label for="pass" class="label">Email Address</label>
							<input id="pass" name="email-register" type="email" class="input" required minlength="6" maxlength="50">
						</div>
						<div class="group">
							<input type="submit" name="sign_up" class="button" value="Sign Up">
						</div>
						<div class="hr"></div>
						<div class="foot-lnk">
							<label for="tab-1">Already Member?</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	{% if popup_string %}
	<script> alert(`{{ popup_string }}`); </script>
	{% endif %}
{% endblock %}